.section-about{
    background-color: $color-grey-light-1;
    padding-top: 25rem;
    padding-bottom: 30rem;
    // padding-bottom: 10rem;
    margin-top: -20vh;
    
    &__main-container {
        padding:1.5rem 5rem;
        display: flex;
        justify-content: space-around;
        // align-items: center;
    }
    
    &__text-container {
        margin-right: 4rem;
    }
    
    &__text {
        margin-top: 2rem;
        font-size: $font-default;
        
        
        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
    
    
    &__gallery {
        position: relative;
        
        &-composition {
            width: 60rem;
            // height: 60rem;
        }
        
        &-image {
            position: absolute;
            box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
            width: 55%;
            border-radius:  3px;
            z-index: 10;
            transition: all 0.2s;
            outline-offset: 2rem;

            &--p1 {
                left: 0rem;
                top: -1rem;
            }

            &--p2 {
                right: 4rem;
                top: 7rem;
            }

            &--p3 {
                left: 16%;
                top: 18rem;
            }

            &:hover {
                outline: 1.5rem solid $color-primary;
                transform: scale(1.05) translateY(-.5rem);
                box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
                z-index: 20;
            }
           
        }
    }
    .section-about__gallery-composition:hover &__gallery-image:not(:hover){
        transform: scale(0.9);

    }    
}

.vital-info {
    margin-top: -20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;        
    height: 95vh;
    background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.807),
    rgba($color-primary-dark, 0.807)),
    url(../img/nat-4.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
    transition: transform .2s;

    &__card {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 36rem;
        width: 20%;
        background-color: rgba($color-grey-light-1, .6);
        margin-right: 6rem;
        padding: 5rem 3rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
        font-size: 1.5rem;

        &--c1 {
        margin-left: 12rem;
        }
        
        &:last-child {
        margin-right: 12rem;
        }

        &:hover{
            transform: translateY(-1.5rem) scale(1.03);
        }

    }

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem; 
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    &__card-title {
        // font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 1rem;

    }
}

.tours {
    
    background-color: $color-grey-light-1;
    padding-top: 25rem;
    padding-bottom: 30rem;
    margin-top: -18rem;



&__card-container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

&__card{
    font-size: 1.6rem;
    height: 55rem;
    width: 25%;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    margin-right: 6rem;
    text-align: center;
    
    &-price-info {
        // margin-top: 20rem;
        color: #777;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    &-prices {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.2px;
        font-size: 3.2rem;
        margin-bottom: 5rem;
    }
    
    &-side {
        background-color: $color-white;
        transition: all .9s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 55rem;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--back {
            transform: rotateY(180deg); 
        

            &--1{
                background-image: linear-gradient(to right bottom,
                rgba($color-secondary-light, 0.807),
                rgba($color-secondary-dark, 0.807));
                background-size:cover;
            }

            &--2{
                background-image: linear-gradient(to right bottom,
                rgba($color-primary-light, .6),
                rgba($color-primary-darkest, .7));
                background-size:cover;
            }

            &--3{
                background-image: linear-gradient(to right bottom,
                rgba($color-tertiary-light, 0.6),
                rgba($color-tertiary-dark, 0.6));
                background-size:cover;
            }
        }
       
    }

   

    &:hover &-side--front {
        transform: rotateY(-180deg);
          
        }

        &:hover &-side--back {
            transform: rotateY(0deg);
          
            }
}

&__title {
    color: $color-grey-light-1;
    font-weight: 400;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 1rem;
    width: 60%;
    font-size: 2.6rem;
    
    
    &-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1{
            background-image: linear-gradient(to right bottom,
            rgba($color-secondary-light, 0.807),
            rgba($color-secondary-dark, 0.807));
        }

        &--2 {
          
            background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.807),
            rgba($color-primary-dark, 0.807));
        }

        &--3 {
            background-image: linear-gradient(to right bottom,
            rgba($color-tertiary-light, 0.807),
            rgba($color-tertiary-dark, 0.807));
        }
    }
}


&__card-image {

    width:100%;
    height: 26rem;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1{
        background-image: linear-gradient(to right bottom,
        rgba($color-secondary-light, 0.8),
        rgba($color-secondary-dark, 0.8)), url(../img/nat-5.jpg);
    }

    &--2{
        background-image: linear-gradient(to right bottom,
        rgba($color-primary-light, .7),
        rgba($color-primary-dark, .7)), url(../img/nat-6.jpg);
    }

    &--3{
        background-image: linear-gradient(to right bottom,
        rgba($color-tertiary-light, 0.6),
        rgba($color-tertiary-dark, 0.6)), url(../img/nat-7.jpg);
    }
}

&__features-list{ 
    padding-top: 3rem;
    list-style: none;
    width: 80%;

    & > li{
        padding: .8rem;

        &:not(:last-child){
            border-bottom:  1.5px solid $color-grey-light-2;
        }
    }   
}

}

